[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-UPLOAD:before {
    content: "\e604";
}
.icon-DOWNLOAD:before {
    content: "\e61a";
}
.icon-CLOCK:before {
    content: "\e634";
}
.icon-MINIMIZE:before {
    content: "\e63e";
}
.icon-MINUS:before {
    content: "\e63f";
}
.icon-MAXIMIZE:before {
    content: "\e640";
}
.icon-CLOSE:before {
    content: "\e641";
}
.icon-switch:before {
    content: "\e633";
}
.icon-wifi:before {
    content: "\e600";
}
.icon-music:before {
    content: "\e601";
}
.icon-alarm:before {
    content: "\e602";
}
.icon-bluetooth:before {
    content: "\e603";
}
.icon-checkmark:before {
    content: "\e62c";
}
.icon-checkmark2:before {
    content: "\e62d";
}
.icon-cancel:before {
    content: "\e62e";
}
.icon-cancel2:before {
    content: "\e62f";
}
.icon-plus:before {
    content: "\e630";
}
.icon-plus2:before {
    content: "\e631";
}
.icon-minus:before {
    content: "\e632";
}
.icon-paperplane:before {
    content: "\e635";
}
.icon-home:before {
    content: "\e605";
}
.icon-home2:before {
    content: "\e606";
}
.icon-folder:before {
    content: "\e607";
}
.icon-folder-open:before {
    content: "\e608";
}
.icon-location:before {
    content: "\e636";
}
.icon-location2:before {
    content: "\e637";
}
.icon-map:before {
    content: "\e638";
}
.icon-drawer:before {
    content: "\e609";
}
.icon-drawer2:before {
    content: "\e60a";
}
.icon-drawer3:before {
    content: "\e60b";
}
.icon-box-add:before {
    content: "\e60c";
}
.icon-box-remove:before {
    content: "\e60d";
}
.icon-user:before {
    content: "\e60e";
}
.icon-cog:before {
    content: "\e639";
}
.icon-cog2:before {
    content: "\e63a";
}
.icon-menu:before {
    content: "\e60f";
}
.icon-play:before {
    content: "\e610";
}
.icon-pause:before {
    content: "\e611";
}
.icon-stop:before {
    content: "\e612";
}
.icon-backward:before {
    content: "\e613";
}
.icon-forward:before {
    content: "\e614";
}
.icon-first:before {
    content: "\e615";
}
.icon-last:before {
    content: "\e616";
}
.icon-previous:before {
    content: "\e617";
}
.icon-next:before {
    content: "\e618";
}
.icon-apple:before {
    content: "\e619";
}
.icon-mail:before {
    content: "\e63b";
}
.icon-paperclip:before {
    content: "\e61b";
}
.icon-export:before {
    content: "\e61c";
}
.icon-location3:before {
    content: "\e63c";
}
.icon-comment:before {
    content: "\e61d";
}
.icon-bell:before {
    content: "\e63d";
}
.icon-cog3:before {
    content: "\e61e";
}
.icon-minus2:before {
    content: "\e61f";
}
.icon-plus3:before {
    content: "\e620";
}
.icon-cycle:before {
    content: "\e621";
}
.icon-cw:before {
    content: "\e622";
}
.icon-resize-enlarge:before {
    content: "\e623";
}
.icon-arrow-left:before {
    content: "\e624";
}
.icon-arrow-down:before {
    content: "\e625";
}
.icon-arrow-up:before {
    content: "\e626";
}
.icon-arrow-right:before {
    content: "\e627";
}
.icon-arrow-left2:before {
    content: "\e628";
}
.icon-arrow-down2:before {
    content: "\e629";
}
.icon-arrow-up2:before {
    content: "\e62a";
}
.icon-uniE62B:before {
    content: "\e62b";
}
