:host {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    z-index: 20;
    text-align:center
}
:host(.left:host) {
    padding: 12px 0;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 60%;
}
:host(.right:host) {
    padding: 12px 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 60%;
}
:host(.bottom:host) {
    left: 0; right: 0;
    margin: auto;
    bottom: 0;
    width: 60%;
    height: 70px;
}
#icon-container {
    display:inline-block;
    width: auto;
}

/*http://codepen.io/chriscoyier/pen/gsodI*/