:host {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

:host(.left-position:host) {
    left: 0;
    top: 25px;
    width: 60px;
    height: calc(100% - 25px);
}

:host(.right-position:host) {
    right: 0;
    top: 25px;
    width: 60px;
    height: calc(100% - 25px);
}

:host(.bottom-position:host) {
    bottom: 0;
    width: 100%;
    height: 60px;
}