:host {
    display: inline-block;
    position: relative;
}

#box {
    position: relative;
    background-color: #afafaf;
    resize: horizontal;
}

.resizer {
    position: absolute;
    background-color: rgba(114, 114, 114, 0.5);
}
#resizer-top {
    top: -4px;
    height: 8px;
    width: 100%; 
    cursor:ns-resize;
}
#resizer-bottom {
    bottom: -4px;
    height: 8px;
    width: 100%; 
    cursor:ns-resize;
}
#resizer-right {
    right: -4px;
    width: 8px;
    height: 100%; 
    cursor:ew-resize;
}
#resizer-left {
    left: -4px;
    width: 8px;
    height: 100%;
    cursor:ew-resize;
}

