:host {
    display: inline-block;
    width: 100%;
    height: calc(100% - 40px);
}
#result {
    float: left;
    width: 100%;
    height: 30%;
}
p {margin: 0;}
#operations {
    text-align: right;
    padding: 10px;
    height: 38px;
}
#resultat {
    padding: 10px;
    text-align: right;
    font-size: 48px;
    font-weight: 800;
    height: 64px;
}
.content {
    float: left;
    width: 100%;
    height: 70%;
}
.row {
    width: 100%;
    height: 20%;
}
table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    font-size: 22px;
}
td {
    width: 25%;
    border-top: 1px solid white;
    border-right: 1px solid white;
    background-color: RGB(215, 216, 218);
}
td:nth-child(4n),
#rest {
    color: white;
    border-right: none;
    background-color: RGB(246, 142, 17);
}